.Search {
    color: rgb(112, 208, 221);
    background-color: white;
    border-color: lightseagreen;
    height: 40px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-weight: 900;

}

.add {
    color: white;
    background-color: seagreen;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}

.Create {
    color: white;
    background-color: lightseagreen;
    height: 40px;
    width: 150px;
    margin-bottom: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px black;

}